body{
    background-image: url("https://images.unsplash.com/photo-1553095066-5014bc7b7f2d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8d2FsbCUyMGJhY2tncm91bmR8ZW58MHx8MHx8&w=1000&q=80");
    background-repeat: no-repeat;
    background-size: cover;
}

.page-header {
    background-color: rgb(84, 93, 175);
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 60px;
    padding-right: 60px;
}

h1, h2, h3, h4 {
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

.date {
    float: right;
    color: white;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
    color: white;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
    color: white;
}

.post h1 a, .post h1 a:visited {
    color:white;
}
